.product-page-img {
  border-radius: 2rem;
  max-height: 500px;
}

.product-page-img-cont {
  position: relative;
  display: inline-block;
}

.product-page-img-cont::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100%; /* Adjust the width of the frame */
  height: 100%; /* Adjust the height of the frame */
  background-color: transparent; /* Adjust the color of the frame */
  border: 3px solid var(--redish);
  border-radius: 2rem;
}

.product-page-caption {
    
}